<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{username.name}} on {{format_date date_created}}</p>
  <p>
    <span class="dollar-amount">{{format_amount author}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Type something here... like read and comment my blog!!</button>
  </p>
</div>


{{!-- this refers to the mini project... adapt the handlebars to the new challenge --}}